* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  justify-content: space-around;
  width: 36vw;
  height: 40vh;
  background-color: #fff;
  gap: 1%;
}
.first-row {
  height: 100%;
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1%;
}

.sec-row {
  justify-content: space-around;
  height: 100%;
  width: 35vw;
  display: flex;
  flex-direction: row;
  gap: 1%;
}
.third-row {
  height: 100%;
  width: 35vw;
  display: flex;
  flex-direction: row;
  gap: 1%;
}
.fourth-row {
  height: 100%;
  width: 35vw;
  display: flex;
  gap: 1%;
  flex-direction: row;
}
.div-first-item {
  width: 80%;
  height: 80%;
  background-color: palevioletred;
}
.div-sec-item {
  width: 20%;
  height: 80%;
  background-color: palevioletred;
}
/* ----- */
.div-3-item {
  width: 40%;
  height: 80%;
  background-color: palevioletred;
}
.div-4-item {
  width: 60%;
  height: 80%;
  background-color: palevioletred;
}
/* ----- */
.div-5-item {
  width: 90%;
  height: 80%;
  background-color: palevioletred;
}
.div-6-item {
  width: 10%;
  height: 80%;
  background-color: palevioletred;
}
/* ----- */
.div-7-item {
  width: 50%;
  height: 80%;
  background-color: palevioletred;
}
.div-8-item {
  width: 50%;
  height: 80%;
  background-color: palevioletred;
}
