* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: 5vh 10vh 7vh 46vh;
  height: 80vh;
  gap: 1.5%;
}
.hidden-div {
  visibility: hidden;
}
header,
footer,
nav {
  background-color: #f4a261;
}

nav {
  display: grid;
  justify-content: end;
  height: 3rem;
}

.nav-parent-div {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}

.nav-child-div {
  width: 2rem;
  height: 1rem;
  background-color: #fff;
}

.content {
  display: grid;
  grid-template-columns: 70% 25%;
  gap: 5%;
  height: 45vh;
}

article {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  background-color: #2a9d8f;
}

.article-section {
  width: 60%;
  height: 50%;
  background-color: #90c5cf;
}

aside {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  background-color: #ccc;
}

.hidden-one {
  visibility: hidden;
  width: 80%;
  height: 40%;
  background-color: white;
  border-radius: 5px;
}

.aside-item {
  width: 80%;
  height: 50%;
  background-color: white;
  border-radius: 5px;
}
